[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KResources/Manager
Comment=KResource Manager
Comment[ca]=Gestor del KResource
Comment[de]=KResource-Manager
Comment[el]=Διαχειριστής KResource
Comment[es]=Administrador KResource
Comment[et]=KDE ressursside haldur
Comment[fr]=Gestionnaire de ressources
Comment[ga]=Bainisteoir KResource
Comment[gl]=Xestor de KResource
Comment[hu]=Erőforráskezelő
Comment[it]=Gestore di KResource
Comment[ja]=K リソースマネージャ
Comment[lt]=KResouse tvarkyklė
Comment[lv]=KResource pārvaldnieks
Comment[nb]=KResource-styring
Comment[nds]=KResource-Pleger
Comment[nl]=KResource-beheerder
Comment[pa]=ਕੇ-ਰੀਸੋਰਸ ਮੈਨੇਜਰ
Comment[pl]=Menadżer zasobów KDE (KResource)
Comment[pt]=Gestor do KResource
Comment[pt_BR]=Gerenciador do KResource
Comment[ru]=Администратор KResource
Comment[sl]=Upravnik KResource
Comment[sv]=Resurshantering
Comment[uk]=Менеджер KResource
Comment[x-test]=xxKResource Managerxx
Comment[zh_CN]=KResource 资源
Comment[zh_TW]=KResource 管理者

[PropertyDef::X-KDE-ResourceFamily]
Type=QString
