[Desktop Entry]
Name=KResources Plugin
Name[de]=Modul für KResourcen-Framework
Type=ServiceType
X-KDE-ServiceType=KResources/Plugin
Comment=KResources Framework Plugin

[PropertyDef::X-KDE-ResourceFamily]
Type=QString

[PropertyDef::X-KDE-ResourceType]
Type=QString
