[Desktop Entry]
Icon=view-calendar-day
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kresources
X-KDE-FactoryName=kcm_kresources
X-KDE-System-Settings-Parent-Category=advanced-user-settings

Name=KDE Resources
Name[de]=KDE-Ressourcen

Comment=Configure KDE Resources
Comment[de]=KDE-Ressourcen einrichten

X-KDE-Keywords=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap
X-KDE-Keywords[ca]=recursos,recurs del konnector,recurs del contacte,recurs del calendari, recurs de les notes,recurs d'alarma,imap
X-KDE-Keywords[de]=Ressourcen,Konnector-Ressource,Kontakt-Ressource,Kalender-Ressource,Notizen-Ressource,Alarm-Ressource,Imap
X-KDE-Keywords[el]=πόροι,πόροι του konnector,πόρος επαφής,πόρος ημερολογίου,πόρος σημειώσεων,πόρος ειδοποίησης,imap
X-KDE-Keywords[es]=recursos,recursos de konnector,recursos de contacto,recursos de calendario,recursos de notas,recurso de alarma,imap
X-KDE-Keywords[et]=ressursid,konnektori ressurss,kontakti ressurss,kalendri ressurss,märkmete ressurss,häire ressurss,imap
X-KDE-Keywords[fr]=ressources,konnector, ressource contact calendrier, agenda, notes resource,alarme, imap
X-KDE-Keywords[ga]=acmhainní,acmhainn konnector,acmhainn teagmhála,acmhainn fhéilire,acmhainn nótaí,acmhainn aláraim,imap
X-KDE-Keywords[gl]=recursos,recurso de konnector,recurso de contactos,recurso de axenda, recurso de notas, recurso de alarma, imap
X-KDE-Keywords[hu]=erőforrások,Konnector-erőforrás,névjegy,naptár,feljegyzés,emlékeztető,imap
X-KDE-Keywords[it]=risorse,risorsa di konnector,risorsa dei contatti,risorsa di calendario,risorse di note,resource,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap
X-KDE-Keywords[ja]=リソース,konnector resource, コネクターリソース,コンタクトリソース,カレンダーリソース, メモリソース,アラームリソースimap
X-KDE-Keywords[lv]=resursi, konnector resurss, kontaktu resurss, kalendāra resurss, piezīmju resurss, modinātāja resurss, imap
X-KDE-Keywords[nb]=ressurser,konnector ressurs,kontaktressurs,kalenderressurs,notes-ressurs,varslingsressurs,imap
X-KDE-Keywords[nds]=Ressourcen,konnector-Ressource,Kontakt-Ressource,Kalenner-Ressource,Notiz-Ressource,Alarm-Ressource,IMAP
X-KDE-Keywords[nl]=hulpbronnen,konnector-hulpbron,contactpersoonhulpbron,agendahulpbron,notitiehulpbron,herinneringhulpbron,imap
X-KDE-Keywords[pl]=zasoby,zasoby konnectora,zasoby kontaktów,zasoby kalendarza,zasoby notatek,zasoby alarmu,imap
X-KDE-Keywords[pt]=recursos,recurso do konector,recurso de contactos,recurso de calendário,recurso de notas,recurso de alarme,imap
X-KDE-Keywords[pt_BR]=recursos,recurso do konnector,recurso de contatos,recurso de calendário,recurso de notas,recurso de alarme,imap
X-KDE-Keywords[sr]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,ресурс,конектор,контакт,календар,белешке,забелешке,аларм
X-KDE-Keywords[sr@latin]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,resurs,konektor,kontakt,kalendar,beleške,zabeleške,alarm
X-KDE-Keywords[sv]=resurser,konnector-resurs,kontaktresurs,kalenderresurs,anteckningsresurs,alarmresurs,IMAP
X-KDE-Keywords[uk]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,ресурс календаря,ресурси
X-KDE-Keywords[x-test]=xxresources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imapxx
X-KDE-Keywords[zh_CN]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,资源,konnector 资源,联系人资源,日历资源,备忘资源,提醒资源
