[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KResources/Plugin
Comment=KResource Framework Plugin
Comment[ca]=Connector del marc de treball pel KResource
Comment[cs]=Modul rámce KResource
Comment[de]=Modul für KResource-Framework
Comment[el]=Μικροεφαρμογή πλαισίου εργασίας του KResource
Comment[es]=Extensión de estructura KResource
Comment[et]=KDE ressursside raamistiku plugin
Comment[fr]=Module externe de gestion de ressources
Comment[ga]=Breiseán Creatlaí KResource
Comment[gl]=Extensión do framework KResource
Comment[hu]=Modul a KResource keretrendszerhez
Comment[it]=Plugin di infrastruttura di KResource
Comment[ja]=K リソース・フレームワーク・プラグイン
Comment[lt]=KResource struktūros priedas
Comment[lv]=KResource karkasa spraudnis
Comment[nb]=Programtillegg for KResource-rammeverket
Comment[nds]=Rahmenwark-Moduul för KResource
Comment[nl]=KResource-raamwerkplugin
Comment[pl]=Wtyczka KResource
Comment[pt]='Plugin' da Plataforma do KResource
Comment[pt_BR]=Plugin da Plataforma do KResource
Comment[ru]=Модуль работающий в инфраструктуре KResource
Comment[sr]=Прикључак радног оквира к‑ресурса
Comment[sr@latin]=Priključak radnog okvira k‑resursa
Comment[sv]=Insticksprogram för resursramverk
Comment[uk]=Втулок платформи KResource
Comment[x-test]=xxKResource Framework Pluginxx
Comment[zh_CN]=KResource 框架插件
Comment[zh_TW]=KResource 框架外掛程式

[PropertyDef::X-KDE-ResourceFamily]
Type=QString

[PropertyDef::X-KDE-ResourceType]
Type=QString
