[Desktop Entry]
Name=KResources Plugin
Name[ca]=Connector pel KResources
Name[cs]=Modul rámce KResource
Name[da]=KResources-plugin
Name[de]=KRessourcen-Modul
Name[el]=Πρόσθετο KResources
Name[es]=Complemento de KResources
Name[et]=KDE ressursside plugin
Name[fr]=Module externe de gestion de ressources
Name[ga]=Breiseán KResources
Name[gl]=Extensión de KResources
Name[hr]=Dodatak za KResources
Name[hu]=KResources-modul
Name[it]=Plugin di KResources
Name[km]=កម្មវិធី​ជំនួយ​របស់ KResources
Name[lv]=KResources spraudnis
Name[nb]=Programtillegg for KResources
Name[nds]=KResources-Moduul
Name[nn]=Programtillegg for KResource-rammeverket
Name[pl]=Wtyczka KResource
Name[pt]='Plugin' do KResources
Name[pt_BR]=Plug-in do KResource
Name[ro]=Modul KResurse
Name[sr]=Прикључак радног оквира к‑ресурса
Name[sr@latin]=Priključak radnog okvira k‑resursa
Name[sv]=Insticksprogram för resurser
Name[th]=โปรแกรมเสริมการจัดการทรัพยากร K
Name[tr]=KResources Eklentisi
Name[uk]=Втулок KResourc-ів
Name[x-test]=xxKResources Pluginxx
Name[zh_CN]=KResource 插件
Name[zh_TW]=KResources 外掛程式
Type=ServiceType
X-KDE-ServiceType=KResources/Plugin
Comment=KResources Framework Plugin
Comment[ca]=Connector del marc de treball pel KResource
Comment[cs]=Modul rámce KResource
Comment[da]=KResource-strukturplugin
Comment[de]=Modul für KRessourcen-Grundgerüst
Comment[el]=Πρόσθετο πλαισίου εργασίας του KResource
Comment[es]=Complemento de estructura de KResources
Comment[et]=KDE ressursside raamistiku plugin
Comment[fr]=Module externe d'infrastructure de ressources
Comment[ga]=Breiseán Creatlaí KResources
Comment[gl]=Extensión do framework KResource
Comment[hr]=Dodatak radnog okvira za KResources
Comment[hu]=Modul a KResources keretrendszerhez
Comment[it]=Plugin di infrastruttura di KResources
Comment[km]=កម្មវិធី​ជំនួយ​គ្រោងការ​របស់ KResources
Comment[lv]=KResource karkasa spraudnis
Comment[nb]=Programtillegg for KResources-rammeverket
Comment[nds]=Rahmenwark-Moduul för KResources
Comment[nn]=Programtillegg for KResource-rammeverket
Comment[pl]=Wtyczka modułu KResource
Comment[pt]='Plugin' da Plataforma do KResources
Comment[pt_BR]=Plug-in do KResource
Comment[sr]=Прикључак радног оквира к‑ресурса
Comment[sr@latin]=Priključak radnog okvira k‑resursa
Comment[sv]=Insticksprogram för resursramverk
Comment[th]=โปรแกรมเสริมเฟรมเวิร์กการจัดการทรัพยากร K
Comment[uk]=Втулок платформи KResource
Comment[x-test]=xxKResources Framework Pluginxx
Comment[zh_CN]=KResource 框架插件
Comment[zh_TW]=KResources 框架外掛程式

[PropertyDef::X-KDE-ResourceFamily]
Type=QString

[PropertyDef::X-KDE-ResourceType]
Type=QString
