[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell4 kresources
Icon=date
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kresources
X-KDE-FactoryName=kcm_kresources

Name=KDE Resources
Name[be]=Рэсурсы KDE
Name[ca]=Recursos del KDE
Name[cs]=Zdroje KDE
Name[de]=KDE-Ressourcen
Name[el]=Πόροι του KDE
Name[es]=Recursos KDE
Name[ga]=Acmhainní KDE
Name[hu]=KDE-erőforrások
Name[ja]=KDE リソース
Name[lt]=KDE resursai
Name[nds]=KDE Ressourcen
Name[nl]=KDE-hulpbronnen
Name[pa]=KDE ਸਰੋਤ
Name[pt]=Recursos do KDE
Name[sl]=Viri KDE
Name[sv]=KDE-resurser
Name[uk]=Ресурси KDE
Name[x-test]=xxKDE Resourcesxx
Name[zh_CN]=KDE 资源
Name[zh_TW]=KDE 資源

Comment=Configure KDE Resources
Comment[be]=Настаўленні рэсурсаў KDE
Comment[ca]=Configura els recursos del KDE
Comment[cs]=Nastavení zdrojů KDE
Comment[de]=KDE-Ressourcen einrichten
Comment[el]=Ρύθμιση πόρων του KDE
Comment[es]=Configurar recursos de KDE
Comment[ga]=Cumraigh Acmhainní KDE
Comment[hu]=A KDE-erőforrások beállítása
Comment[ja]=KDE リソースの設定
Comment[lt]=Konfigūruoti KDE resursus
Comment[nds]=KDE Ressourcen instellen
Comment[nl]=KDE-hulpbronnen instellen
Comment[pt]=Configurar os Recursos do KDE
Comment[sl]=Nastavi vire KDE
Comment[sv]=Anpassa KDE-resurser
Comment[uk]=Налаштувати ресурси KDE
Comment[x-test]=xxConfigure KDE Resourcesxx
Comment[zh_CN]=配置 KDE 资源
Comment[zh_TW]=設定 KDE 資源

Keywords=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap
Keywords[ca]=recursos,recurs del konnector,recurs del contacte,recurs del calendari, recurs de les notes,recurs d'alarma,imap
Keywords[de]=Ressourcen,Konnector-Ressource,Kontakt-Ressource,Kalender-Ressource,Notizen-Ressource,Alarm-Ressource,Imap
Keywords[el]=πόροι,πόροι του konnector,πόρος επαφής,πόρος ημερολογίου,πόρος σημειώσεων,πόρος ειδοποίησης,imap
Keywords[es]=recursos,recursos de konnector,recursos de contacto,recursos de calendario,recursos de notas,recurso de alarma,imap
Keywords[ga]=acmhainní,acmhainn konnector,acmhainn teagmhála,acmhainn fhéilire,acmhainn nótaí,acmhainn aláraim,imap
Keywords[hu]=erőforrások,Konnector-erőforrás,névjegy,naptár,feljegyzés,emlékeztető,imap
Keywords[ja]=リソース,konnector resource, コネクターリソース,コンタクトリソース,カレンダーリソース, メモリソース,アラームリソースimap
Keywords[nds]=Ressourcen,konnector-Ressource,Kontakt-Ressource,Kalenner-Ressource,Notiz-Ressource,Alarm-Ressource,IMAP
Keywords[nl]=hulpbronnen,konnector-hulpbron,contactpersoonhulpbron,agendahulpbron,notitiehulpbron,herinneringhulpbron,imap
Keywords[pt]=recursos,recurso do konector,recurso de contactos,recurso de calendário,recurso de notas,recurso de alarme,imap
Keywords[sv]=resurser,konnector-resurs,kontaktresurs,kalenderresurs,anteckningsresurs,alarmresurs,IMAP
Keywords[uk]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,ресурс календаря,ресурси
Keywords[x-test]=xxresources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imapxx
Keywords[zh_CN]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,资源,konnector 资源,联系人资源,日历资源,备忘资源,提醒资源
