[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kresources
Icon=date
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kresources
X-KDE-FactoryName=kcm_kresources

Name=KDE Resources

Comment=Configure KDE Resources

Keywords=resources,konnector resource,contact resource,calendar resource,notes resource,imap
