[Desktop Entry]
Icon=network-workgroup
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_mailtransport
X-KDE-FactoryName=kcm_mailtransport
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=
X-KDE-ParentComponents=
X-KDE-CfgDlgHierarchy=

Name=Mail Transport
Name[be]=Паштовы транспарт
Name[ca]=Transport de correu
Name[cs]=Přenos pošty
Name[da]=Mail-transport
Name[de]=Versandart
Name[el]=Κύριος μεταφορέας
Name[es]=Transporte de correo
Name[et]=Kirja saatmise viis
Name[fr]=Transport de courrier
Name[ga]=Iompar Ríomhphoist
Name[gl]=Transporte de correo
Name[hr]=Prijenos pošte
Name[hu]=Levéltovábbítás
Name[is]=Póstflutningsleiðir
Name[it]=Trasporto della posta
Name[ja]=メール送信手段
Name[km]=ការ​ដឹកជញ្ជូន​សំបុត្រ
Name[lv]=Pasta transports
Name[nb]=E-post-transport
Name[nds]=Överdreegmetood
Name[nl]=E-mailtransport
Name[nn]=E-posttransport
Name[pa]=ਮੇਲ ਟਰਾਂਸਪੋਰਟ
Name[pl]=Przekazywanie poczty
Name[pt]=Transporte de Correio
Name[pt_BR]=Transporte de correio
Name[ro]=Transport poștă
Name[ru]=Метод отправки
Name[sl]=Prenos pošte
Name[sr]=Транспорт поште
Name[sr@latin]=Transport pošte
Name[sv]=E-postöverföring
Name[th]=โปรแกรมรับ/ส่งเมล
Name[tr]=E-posta Aktarımı
Name[uk]=Транспортування пошти
Name[x-test]=xxMail Transportxx
Name[zh_CN]=邮件传送
Name[zh_TW]=Mail 傳送
