[Desktop Entry]
Encoding=UTF-8
Icon=network
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=mailtransport
X-KDE-FactoryName=kcm_mailtransport
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=
X-KDE-ParentComponents=
X-KDE-CfgDlgHierarchy=

Name=Mail Transport
Name[be]=Паштовы транспарт
Name[el]=Κύριος μεταφορέας
Name[es]=Transporte de correo
Name[pt]=Transporte de Correio
Name[uk]=Транспортування пошти
Name[x-test]=xxMail Transportxx
Name[zh_TW]=Mail 傳送
