[Desktop Entry]
Encoding=UTF-8
Icon=network-workgroup
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_mailtransport
X-KDE-FactoryName=kcm_mailtransport
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=
X-KDE-ParentComponents=
X-KDE-CfgDlgHierarchy=

Name=Mail Transport
Name[be]=Паштовы транспарт
Name[ca]=Transport de correu
Name[cs]=Přenos pošty
Name[de]=Versandart
Name[el]=Κύριος μεταφορέας
Name[es]=Transporte de correo
Name[et]=Kirja saatmise viis
Name[fr]=Transport de courrier
Name[ga]=Iompar Ríomhphoist
Name[gl]=Transporte de correo
Name[hu]=Levéltovábbítás
Name[it]=Trasporto della posta
Name[ja]=メール送信手段
Name[lv]=Pasta transports
Name[nb]=E-post-transport
Name[nds]=Överdreegmetood
Name[nl]=E-mailtransport
Name[pl]=Przekazywanie poczty
Name[pt]=Transporte de Correio
Name[pt_BR]=Transporte de Correio
Name[ru]=Метод отправки
Name[sl]=Prenos pošte
Name[sv]=E-postöverföring
Name[uk]=Транспортування пошти
Name[x-test]=xxMail Transportxx
Name[zh_CN]=邮件传送
Name[zh_TW]=Mail 傳送
