# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Calendar
Name[be]=Каляндар
Name[el]=Ημερολόγιο
Name[fr]=Calendrier
Name[ga]=Féilire
Name[ja]=カレンダー
Name[pa]=ਕੈਲੰਡਰ
Name[sv]=Kalender
Name[x-test]=xxCalendarxx
Type=Service
ServiceTypes=KResources/Manager

X-KDE-ResourceFamily=calendar
