# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Calendar
Name[be]=Каляндар
Name[el]=Ημερολόγιο
Name[es]=Calendario
Name[fr]=Calendrier
Name[ga]=Féilire
Name[ja]=カレンダー
Name[pa]=ਕੈਲੰਡਰ
Name[pt]=Calendário
Name[sv]=Kalender
Name[uk]=Календар
Name[x-test]=xxCalendarxx
Name[zh_TW]=行事曆
Type=Service
ServiceTypes=KResources/Manager

X-KDE-ResourceFamily=calendar
