# KDE Config File
[Desktop Entry]
Name=Calendar
Name[be]=Каляндар
Name[ca]=Calendari
Name[cs]=Kalendář
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[es]=Calendario
Name[et]=Kalender
Name[fr]=Calendrier
Name[ga]=Féilire
Name[hu]=Naptár
Name[ja]=カレンダー
Name[lt]=Kalendorius
Name[lv]=Kalendārs
Name[nb]=Kalender
Name[nds]=Kalenner
Name[nl]=Agenda
Name[oc]=Calendièr
Name[pa]=ਕੈਲੰਡਰ
Name[pl]=Kalendarz
Name[pt]=Calendário
Name[sl]=Koledar
Name[sv]=Kalender
Name[uk]=Календар
Name[x-test]=xxCalendarxx
Name[zh_CN]=日历
Name[zh_TW]=行事曆
Type=Service
X-KDE-ServiceTypes=KResources/Manager
X-KDE-ResourceFamily=calendar
