[Desktop Entry]
Name=Calendar in Local Directory
Name[de]=Kalender in lokalem Ordner
X-KDE-Library=kcal_localdir
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=localdir
