[Desktop Entry]
Name=Calendar in Local File
Name[de]=Kalender in lokaler Datei
X-KDE-Library=kcal_local
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=file
