[Desktop Entry]
Encoding=UTF-8
Name=Calendar in Local Directory
Name[el]=Ημερολόγιο σε τοπικό κατάλογο
Name[fr]=Calendrier dans un dossier local
X-KDE-Library=kcal_localdir
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=localdir
