[Desktop Entry]
Name=Calendar in Local File
Name[be]=Каляндар у мясцовым файлу
Name[ca]=Calendari en un fitxer local
Name[cs]=Kalendář v místním souboru
Name[da]=Kalender i lokal fil
Name[de]=Kalender in lokaler Datei
Name[el]=Ημερολόγιο σε τοπικό αρχείο
Name[es]=Calendario en archivo local
Name[et]=Kalender kohalikus failis
Name[fr]=Calendrier dans un fichier local
Name[ga]=Féilire i gComhad Logánta
Name[gl]=Axenda nun ficheiro local
Name[hne]=लोकल फाइल मं कलेन्डर
Name[hu]=Helyi naptárfájl
Name[it]=Calendario in file locale
Name[ja]=ローカルファイルのカレンダー
Name[km]=ប្រតិទិន​ក្នុង​ឯកសារ​មូលដ្ឋាន
Name[lt]=Kalendorius vietiniame faile
Name[lv]=Kalendārs lokālā failā
Name[nb]=Kalender i lokal fil
Name[nds]=Kalenner in en lokale Datei
Name[nl]=Agenda in lokaal bestand
Name[nn]=Kalender i lokal fil
Name[pa]=ਲੋਕਲ ਫਾਇਲ 'ਚ ਕੈਲੰਡਰ
Name[pl]=Kalendarz w pliku lokalnym
Name[pt]=Calendário num Ficheiro Local
Name[pt_BR]=Calendário em arquivo local
Name[ro]=Calendar în fișier local
Name[ru]=Календарь в локальном файле
Name[se]=Kaleandar báikkálaš fiillas
Name[sl]=Koledar v krajevni datoteki
Name[sr]=Календар у локалном фајлу
Name[sr@latin]=Kalendar u lokalnom fajlu
Name[sv]=Kalender i lokal fil
Name[th]=ปฎิทินในแฟ้มภายในระบบ
Name[tr]=Yerel Dosyadaki Takvim
Name[uk]=Календар в локальному файлі
Name[x-test]=xxCalendar in Local Filexx
Name[zh_CN]=本地文件中的日历
Name[zh_TW]=本地端檔案裡的行事曆
Comment=Provides access to a calendar stored in a single local file
Comment[ca]=Proporciona l'accés a un calendari emmagatzemat en un fitxer local individual
Comment[da]=Giver adgang til en kalender lagret i en enkelt lokal fil
Comment[de]=Ermöglicht Zugriff auf einen Kalender, der in einer einzigen Dateien lokal gespeichert ist
Comment[el]=Προσφέρει πρόσβαση σε ένα ημερολόγιο αποθηκευμένο σε ένα τοπικό αρχείο
Comment[es]=Provee acceso a un calendario almacenado en un único archivo local
Comment[et]=Võimaldab kasutada kohalikku faili salvestatud kalendrit
Comment[fr]=Fourni l'accès à un agenda stocké dans un fichier local
Comment[ga]=Soláthraíonn sé seo rochtain ar fhéilire stóráilte i gcomhad logánta amháin
Comment[gl]=Dá acceso a un calendario gardado nun único ficheiro local
Comment[hu]=Helyi fájlban tárolt naptár elérését biztosítja.
Comment[it]=Fornisce accesso ad un calendario memorizzato in un singolo file locale
Comment[ja]=単一のローカルファイルに保存されているカレンダーへのアクセスを提供します。
Comment[km]=ផ្ដល់​ការ​ចូលដំណើរការ​ទៅកាន់​ប្រតិទិន​ដែល​បានផ្ទុក​នៅ​ក្នុង​​ឯកសារ​មូលដ្ឋាន​តែ​មួយ
Comment[lt]=Suteikia prieigą prie kalendoriaus, esančio viename vietiniame faile
Comment[lv]=Nodrošina piekļuvi kalendāram, kas glabājas vienā lokālā failā
Comment[nb]=Gir tilgang til en kalender lagret i en enkelt, lokal fil
Comment[nds]=Stellt Togriep op en Kalenner binnen een enkel lokaal Datei praat.
Comment[nl]=Geeft toegang naar een agenda, die in een enkel lokaal bestand opgeslagen is
Comment[nn]=Gjev tilgang til kontaktar lagra i ei einskild lokal fil.
Comment[pl]=Daje dostęp do kalendarza przechowywanego w pliku lokalnym
Comment[pt]=Oferece o acesso a um calendário guardado num único ficheiro local
Comment[pt_BR]=Fornece acesso a um calendário armazenado em um único arquivo local
Comment[ro]=Oferă acces la un calendar stocat într-un singur fișier local
Comment[se]=Dáinna beasat kaleandarii vurkejuvvon okta báikásaš fiilan
Comment[sl]=Nudi dostop do koledarja, ki je shranjen v eni sami krajevni datoteki
Comment[sr]=Пружа приступ календару складиштеном у једном локалном фајлу
Comment[sr@latin]=Pruža pristup kalendaru skladištenom u jednom lokalnom fajlu
Comment[sv]=Ger tillgång till en kalender lagrad i en enda lokal fil
Comment[tr]=TEk bir yerel dosyada depolanmış bir takvime erişim sağlar
Comment[uk]=Надає доступ до календаря, що зберігається у окремому локальному файлі
Comment[x-test]=xxProvides access to a calendar stored in a single local filexx
Comment[zh_CN]=提供对被存储在单独的本地文件中的日历的访问支持
Comment[zh_TW]=提供存取儲存在本地檔案中的行事曆的功能
X-KDE-Library=kcal_local
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=file
